*.o
moc_mainwindow.cpp
moc_oglwidget.cpp
ui_mainwindow.h
core
*.core
*~
Hello
Makefile
LISA/.ropeproject
LISA/__pycache__
*.pyc
.ropeproject/
__pycache__/
build/
*.c
LISA_is_a_Simulation_Analyzer.egg-info/
dist/
test_env/
